# Rust & Cargo
/target
**/target
Cargo.lock

# Node & Frontend
node_modules/
dist/
dist-ssr/
dist-portable/
*.local

# Tauri
src-tauri/target/

# SQLite & Data
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
roms/
media/
bios/
kairo_data/

# Temporary Archives & Downloads
*.zip
*.dll.zip
*_libretro.dll.zip
emulators/cores/
*.7z
*.tar.gz
*.rar
*.tmp
*_temp*
.tmp/

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

