# KaïroOS Arcade Station — RetroArch Configuration
video_fullscreen = "true"
video_windowed_fullscreen = "true"
pause_nonactive = "false"
video_vsync = "true"
notification_show_when_menu_is_alive = "false"
video_font_enable = "false"
menu_driver = "ozone"
rgui_show_restart = "false"
quit_press_twice = "false"
input_enable_hotkey_btn = "8"
input_exit_emulator_btn = "9"
input_exit_emulator = "escape"
input_autodetect_enable = "true"
